<section id="portfolio" class="section bg-white-f1">
    <div class="container">
        <div class="text-center">
            <h2 class="heading wow tada">Портфолио</h2>
            <p class="font-20 uppercase mt-25 mb-20">Глаза боятся, а руки делают</p>
        </div>
    </div>
    <div class="gallery-open-container">
        <a href="#" class="gallery-open">Развернуть портфолио</a>
    </div>
    <div class="gallery">
        <div data-title="Арктика" data-descrription="Lorem ipsum dolor" data-content="{{ path('arctic') }}" class="gallery-item active">
            <div class="gallery-img">
                <img src="{{ asset('public/img/arctic.jpg') }}"/>
            </div>
        </div>
        <div data-title="Арктика 2" data-descrription="Lorem ipsum dolor" data-content="{{ path('arctic') }}" class="gallery-item gallery-item-right">
            <div class="gallery-img">
                <img src="{{ asset('public/img/arctic.jpg') }}"/>
            </div>
        </div>
        <div data-title="Арктика 3" data-descrription="Lorem ipsum dolor" data-content="{{ path('arctic') }}" class="gallery-item gallery-item-right">
            <div class="gallery-img">
                <img  src="{{ asset('public/img/arctic.jpg') }}"/>
            </div>
        </div>
        <div data-title="Арктика 4" data-descrription="Lorem ipsum dolor" data-content="{{ path('arctic') }}" class="gallery-item gallery-item-right">
            <div class="gallery-img">
                <img src="{{ asset('public/img/arctic.jpg') }}"/>
            </div>
        </div>
        <div data-title="Арктика 5" data-descrription="Lorem ipsum dolor" data-content="{{ path('arctic') }}" class="gallery-item gallery-item-right">
            <div class="gallery-img">
                <img src="{{ asset('public/img/arctic.jpg') }}"/>
            </div>
        </div>
        <div data-title="Арктика 6" data-descrription="Lorem ipsum dolor" data-content="{{ path('arctic') }}" class="gallery-item gallery-item-right">
            <div class="gallery-img">
                <img src="{{ asset('public/img/arctic.jpg') }}"/>
            </div>
        </div>
        <div class="gallery-description">
            <h4 class="gallery-title">Арктика</h4>
            <p class="gallery-description-text">Lorem ipsum dolor</p>
        </div>
        <div class="gallery-navigation">
            <div class="stack stack-left"></div>
            <button class="button primary mr-5 gallery-prev"></button>
            <button class="button primary ml-5 gallery-next"></button>
            <div class="stack stack-right"></div>
        </div>
    </div>
</section>

<div class="portfolio-modal modal-overlay">
    <div class="modal-loader"></div>
    <div class="modal"></div>
</div>