<section class="section bg-white-f1">
    <div class="container">
        <div class="text-center">
            <h2 class="heading wow tada">Портфолио</h2>
            <p class="font-20 uppercase mt-25 mb-sm-90 mb-xs-60">Глаза боятся, а руки делают</p>
        </div>
        <button class="button gallery-open">Раскрыть портфолио</button>
    </div>

    <div class="gallery">
        <div data-title="Арктика" data-descrription="Lorem ipsum dolor" class="gallery-item active"><img src="{{ asset('src/img/arctic.jpg') }}"/></div>
        <div data-title="Арктика 2" data-descrription="Lorem ipsum dolor" class="gallery-item gallery-item-right"><img src="{{ asset('src/img/arctic.jpg') }}"/></div>
        <div data-title="Арктика 3" data-descrription="Lorem ipsum dolor" class="gallery-item gallery-item-right"><img src="{{ asset('src/img/arctic.jpg') }}"/></div>
        <div data-title="Арктика 4" data-descrription="Lorem ipsum dolor" class="gallery-item gallery-item-right"><img src="{{ asset('src/img/arctic.jpg') }}"/></div>
        <div data-title="Арктика 5" data-descrription="Lorem ipsum dolor" class="gallery-item gallery-item-right"><img src="{{ asset('src/img/arctic.jpg') }}"/></div>
        <div data-title="Арктика 6" data-descrription="Lorem ipsum dolor" class="gallery-item gallery-item-right"><img src="{{ asset('src/img/arctic.jpg') }}"/></div>
        <div data-title="Арктика 7" data-descrription="Lorem ipsum dolor" class="gallery-description">
            <h4 class="gallery-title">Арктика</h4>
            <p class="gallery-description-text">Lorem ipsum dolor</p>
        </div>
        <div class="gallery-navigation">
            <div class="stack stack-left"></div>
            <button class="button mr-5 gallery-prev"></button>
            <button class="button ml-5 gallery-next"></button>
            <div class="stack stack-right"></div>
        </div>
    </div>

    {#<div class="container">#}
        {#<ul id="st-stack" class="st-stack-raw">#}
            {#<li><div class="st-item"><a href="http://drbl.in/fgQV"><img height="300" src="{{ asset('src/img/arctic.jpg') }}"/></a></div><div class="st-title"><h2>Арктика</h2><h3>by Isaac Montemayor</h3></div></li>#}
            {#<li><div class="st-item"><a href="http://drbl.in/fpRz"><img src="{{ asset('src/img/arctic.jpg') }}"/></a></div><div class="st-title"><h2>Hideous Snake Queen</h2><h3>by Isaac Montemayor</h3></div></li>#}
            {#<li><div class="st-item"><a href="http://drbl.in/fGVs"><img src="{{ asset('src/img/arctic.jpg') }}"/></a></div><div class="st-title"><h2>Queen of Hearts</h2><h3>by Isaac Montemayor</h3></div></li>#}
            {#<li><div class="st-item"><a href="http://drbl.in/fgvZ"><img src="{{ asset('src/img/arctic.jpg') }}"/></a></div><div class="st-title"><h2>Dead Pirate vs Kraken</h2><h3>by Isaac Montemayor</h3></div></li>#}
            {#<li><div class="st-item"><a href="http://drbl.in/fyfM"><img src="{{ asset('src/img/arctic.jpg') }}"/></a></div><div class="st-title"><h2>Mountain Lion</h2><h3>by Isaac Montemayor</h3></div></li>#}
            {#<li><div class="st-item"><a href="http://drbl.in/fCmJ"><img src="{{ asset('src/img/arctic.jpg') }}"/></a></div><div class="st-title"><h2>Flying Skull</h2><h3>by Isaac Montemayor</h3></div></li>#}
            {#<li><div class="st-item"><a href="http://drbl.in/fsMv"><img src="{{ asset('src/img/arctic.jpg') }}"/></a></div><div class="st-title"><h2>The Fly &amp; Bureaucratic Elephant</h2><h3>by Isaac Montemayor</h3></div></li>#}
        {#</ul>#}
    {#</div>#}
</section>