{% extends 'layout/base.html.twig' %}

{% block stylesheets %}
    <link  href="{{ asset('src/js/revolution-slider/css/settings.css') }}" rel="stylesheet" type="text/css"/>
    <link  href="{{ asset('src/js/revolution-slider/css/layers.css') }}" rel="stylesheet" type="text/css"/>
    <link  href="{{ asset('src/js/revolution-slider/css/navigation.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    {% include 'homepage/slider.html.twig' %}
    {% include 'homepage/navbar.html.twig' %}
    {% include 'homepage/about.html.twig' %}
    {% include 'homepage/education.html.twig' %}
    {% include 'homepage/skills.html.twig' %}
    {% include 'homepage/experience.html.twig' %}
    {% include 'homepage/portfolio.html.twig' %}
    {% include 'homepage/contacts.html.twig' %}
    <div style="height: 200px"></div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/jquery.themepunch.tools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/jquery.themepunch.revolution.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.actions.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.migration.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/revolution-slider/js/extensions/revolution.extension.video.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/modernizr.custom.63321.js') }}"></script>
    <script type="text/javascript" src="{{ asset('src/js/homepage.js') }}"></script>
{% endblock %}