<div class="modal-content">
    <button class="modal-close"><i class="icon-close-arrow"></i></button>
    <div class="row">
        <div class="column lg-8">
            <div class="portfolio-row">
                <div class="portfolio-column left-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/arctic/img-1.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="vertical-img" src="{{ asset('img/portfolio/arctic/img-1.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/arctic/img-6.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="vertical-img" src="{{ asset('img/portfolio/arctic/img-6.jpg') }}"/>
                        </a>
                    </div>
                </div>
                <div class="portfolio-column right-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/arctic/img-5.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('img/portfolio/arctic/img-5.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/arctic/img-2.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('img/portfolio/arctic/img-2.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/arctic/img-3.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('img/portfolio/arctic/img-3.jpg') }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column lg-4">
            <h3 class="mt-40 mt-lg-0">{% trans %}about_the_project{% endtrans %}</h3>
            <p class="font-15">{% trans %}arctic_p1{% endtrans %}</p>
            <p class="font-15">{% trans %}arctic_p2{% endtrans %}</p>
            <p class="font-15">{% trans %}arctic_p3{% endtrans %}</p>
            <h3 class="mt-40">{% trans %}technology{% endtrans %}</h3>
            <ul class="tag-list">
                <li class="tag primary">#ECMAScript6</li>
                <li class="tag primary">#ReactJS</li>
                <li class="tag primary">#SCSS</li>
                <li class="tag primary">#PostCSS</li>
                <li class="tag primary">#Webpack</li>
                <li class="tag primary">#GoogleMaps</li>
            </ul>
            <h3 class="mt-40">{% trans %}link{% endtrans %}</h3>
            <div class="link-rip">
                <i class="globe-icon"></i>arctic.qeep.pro <span class="link-rip-title">RIP</span>
            </div>
        </div>
    </div>
</div>
