<div class="modal-content">
    <button class="modal-close"><i class="icon-close-arrow"></i></button>
    <div class="row">
        <div class="column lg-8">
            <div class="portfolio-row">
                <div class="portfolio-column left-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/avtosteklo/img-4.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('img/portfolio/avtosteklo/img-4.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/avtosteklo/img-5.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('img/portfolio/avtosteklo/img-5.jpg') }}"/>
                        </a>
                    </div>
                </div>
                <div class="portfolio-column right-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/avtosteklo/img-1.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('img/portfolio/avtosteklo/img-1.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/avtosteklo/img-2.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('img/portfolio/avtosteklo/img-2.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('img/portfolio/avtosteklo/img-3.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('img/portfolio/avtosteklo/img-3.jpg') }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column lg-4">
            <h3 class="mt-40 mt-lg-0">{% trans %}about_the_project{% endtrans %}</h3>
            <p class="font-15">{% trans %}avtosteklo_p1{% endtrans %}</p>
            <p class="font-15">{% trans %}avtosteklo_p2{% endtrans %}</p>
            <h3 class="mt-40">{% trans %}technology{% endtrans %}</h3>
            <ul class="tag-list">
                <li class="tag primary">#TypeScript</li>
                <li class="tag primary">#ReactJS</li>
                <li class="tag primary">#SCSS</li>
                <li class="tag primary">#PostCSS</li>
                <li class="tag primary">#Webpack</li>
                <li class="tag primary">#{% trans %}adaptive_layout{% endtrans %}</li>
                <li class="tag primary">#{% trans %}crossbrowser_layout{% endtrans %}</li>
            </ul>
            <h3 class="mt-40">{% trans %}link{% endtrans %}</h3>
            <a href="https://avtosteklo-tomsk.ru/" class="link font-20" target="_blank"><i class="globe-icon"></i>avtosteklo-tomsk.ru</a>
        </div>
    </div>
</div>
