<div id="home" class="rev_slider_wrapper">
    {#<div class="language">#}
        {#<a href="{{ path('home', {'_locale': 'en'}) }}" class="{{ locale == 'en' ? 'active' }}">en</a>#}
        {#/#}
        {#<a href="{{ path('home', {'_locale': 'ru'}) }}" class="{{ locale == 'ru' ? 'active' }}">ru</a>#}
    {#</div>#}
    <div class="rev_slider font-raleway" data-version="5.0">
        <ul>
            <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                <img src="{{ asset('img/slide-3.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                <div class="tp-caption tp-resizeme text-white"
                     id="rs-1-layer-1"
                     data-x="['left']"
                     data-hoffset="['30']"
                     data-y="['middle']"
                     data-voffset="['-80']"
                     data-fontsize="['75']"
                     data-lineheight="['100']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-weight:900;">
                    {% trans %}name{% endtrans %}
                </div>
                <div class="tp-caption tp-resizeme text-white"
                     id="rs-1-layer-2"
                     data-x="['left']"
                     data-hoffset="['30']"
                     data-y="['middle']"
                     data-voffset="['-5']"
                     data-fontsize="['36']"
                     data-lineheight="['36']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1400"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-weight:300;">{% trans %}job{% endtrans %}
                </div>
                <div class="tp-caption tp-resizeme text-white"
                     id="rs-1-layer-3"
                     data-x="['center']"
                     data-hoffset="['30']"
                     data-y="['middle']"
                     data-voffset="['400']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1600"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5;"><div class="icon-arrow-down-circle"></div>
                </div>
            </li>
            <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-description="">
                <img src="{{ asset('img/slide-2.jpg') }}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="6" data-no-retina>
                <div class="tp-caption tp-resizeme text-white"
                     id="rs-2-layer-1"
                     data-x="['center']"
                     data-hoffset="['0']"
                     data-y="['middle']"
                     data-voffset="['-130']"
                     data-fontsize="['72']"
                     data-lineheight="['100']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap;"><i class="icon-laptop"></i>
                </div>
                <div class="tp-caption tp-resizeme text-white"
                     id="rs-2-layer-2"
                     data-x="['center']"
                     data-hoffset="['0']"
                     data-y="['middle']"
                     data-voffset="['-75']"
                     data-fontsize="['30']"
                     data-lineheight="['64']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-weight:400;">- {% trans %}area{% endtrans %} -
                </div>
                <div class="tp-caption tp-resizeme text-white"
                     id="rs-2-layer-3"
                     data-x="['center']"
                     data-hoffset="['0']"
                     data-y="['middle']"
                     data-voffset="['30']"
                     data-fontsize="['60']"
                     data-lineheight="['80']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; font-weight:700; text-align: center;">{% trans %}personal_portfolio{% endtrans %}<br>{% trans %}and{% endtrans %} {% trans %}resume{% endtrans %}
                </div>

                <div class="tp-caption tp-resizeme text-white"
                     id="rs-2-layer-4"
                     data-x="['center']"
                     data-hoffset="['30']"
                     data-y="['middle']"
                     data-voffset="['400']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;s:500"
                     data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                     data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                     data-start="1600"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5;"><div class="icon-arrow-down-circle"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
$(document).ready(function(e) {
    var revapi = $(".rev_slider").revolution({
        sliderType:"standard",
        jsFileLocation: "js/revolution-slider/js/",
        sliderLayout: "fullscreen",
        dottedOverlay: "none",
        delay: 5000,
        navigation: {
            keyboardNavigation: "off",
            keyboard_direction: "horizontal",
            mouseScrollNavigation: "off",
            onHoverStop: "off",
            touch: {
                touchenabled: "on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
            },
            arrows: {
                style: "uranus", //gyges, hades, hermes, uranus
                enable: true,
                hide_onmobile: false,
                hide_onleave: true,
                hide_delay: 200,
                hide_delay_mobile: 1200,
                tmp: '',
                left: {
                    h_align: "left",
                    v_align: "center",
                    h_offset: 0,
                    v_offset: 0
                },
                right: {
                    h_align: "right",
                    v_align: "center",
                    h_offset: 0,
                    v_offset: 0
                }
            },
            bullets: {
                enable: false
            }
        },
        responsiveLevels: [1240, 1024, 778],
        visibilityLevels: [1240, 1024, 778],
        lazyType: "none",
        parallax : {
            type : "scroll",
            levels: [10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85],
            origo: "enterpoint",
            speed: 400,
            bgparallax : "on",
            opacity: "on",
            disable_onmobile:"off",
            ddd_shadow: "on",
            ddd_bgfreeze: "on",
            ddd_overflow: "visible",
            ddd_layer_overflow: "visible",
            ddd_z_correction: 65,
            ddd_path: "mouse"
        },
        shadow: 0,
        spinner: "off",
        stopLoop: "on",
        stopAfterLoops: 0,
        stopAtSlide: -1,
        shuffle: "off",
        autoHeight: "off",
        fullScreenAutoWidth: "off",
        fullScreenAlignForce: "off",
        fullScreenOffsetContainer: "",
        fullScreenOffset: "0",
        hideThumbsOnMobile: "off",
        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        debugMode: false,
        fallbacks: {
            simplifyAll: "off",
            nextSlideOnWindowFocus: "off",
            disableFocusListener: false,
        }
    });
    $('.preloader').fadeOut()
});
</script>
