<div class="modal-content">
    <button class="modal-close"><i class="icon-close-arrow"></i></button>
    <div class="row">
        <div class="column lg-7">
            <div class="portfolio-row">
                <div class="portfolio-column fix-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-1.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-1.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-2.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-2.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-3.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-3.jpg') }}"/>
                        </a>
                    </div>
                </div>
                <div class="portfolio-column fix-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-4.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-4.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-5.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-5.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-6.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-6.jpg') }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column lg-5">
            <h3 class="mt-40 mt-lg-0">{% trans %}about_the_project{% endtrans %}</h3>
            <p class="font-15">{% trans %}chemistry_p1{% endtrans %}</p>
            <p class="font-15">{% trans %}chemistry_p2{% endtrans %}</p>
            <p class="font-15">{% trans %}chemistry_p3{% endtrans %}</p>
            <h3 class="mt-40">{% trans %}technology{% endtrans %}</h3>
            <ul class="tag-list">
                <li class="tag primary">#Html</li>
                <li class="tag primary">#Javascript</li>
                <li class="tag primary">#jQuery</li>
                <li class="tag primary">#AngularJS</li>
                <li class="tag primary">#SCSS</li>
                <li class="tag primary">#{% trans %}adaptive_layout{% endtrans %}</li>
            </ul>
        </div>
    </div>
</div>
