<div class="modal-content">
    <button class="modal-close"><i class="icon-close-arrow"></i></button>
    <div class="modal-loader"></div>
    <div class="row">
        <div class="column lg-7">
            <div class="portfolio-row">
                <div class="portfolio-column fix-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-1.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-1.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-2.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-2.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-3.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-3.jpg') }}"/>
                        </a>
                    </div>
                </div>
                <div class="portfolio-column fix-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-4.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-4.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-5.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-5.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/chemistry/img-6.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/chemistry/img-6.jpg') }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column lg-5">
            <h3 class="mt-40 mt-lg-0">О проекте</h3>
            <p class="font-15">Учебно-лабораторный программно-аппаратный комплекс «Химия в школе» предназначен для проведения на современном уровне демонстрационных,
                лабораторных и практических работ по химии в общеобразовательных учебных учреждениях и учреждений
                начального и среднего профессионального образования. Он позволяет на качественно новом современном
                уровне проводить полный перечень демонстрационных и ученических химических экспериментов по курсу «Химия»,
                рекомендованных Министерством образования и науки для общеобразовательных учебных учреждениях и учреждений
                начального и среднего профессионального образования.</p>
            <p class="font-15">Для УЛПАК «Химия в школе» требовался редизайн програмного интерфейса и его адаптивность
                под различные разрешения мониторов установок.</p>
            <p class="font-15">Для этого был разработан удобный, интерактивный интерфейс, красиво отображающийся на различных разрешениях эканов.
                Внешний вид, цветовая схема, подборка картинок и иконок была реализована мной самостоятельно.</p>
            <h3 class="mt-40">Технологии</h3>
            <ul class="tag-list">
                <li class="tag primary">#Html</li>
                <li class="tag primary">#Javascript</li>
                <li class="tag primary">#jQuery</li>
                <li class="tag primary">#AngularJS</li>
                <li class="tag primary">#SCSS</li>
                <li class="tag primary">#Адаптивная верстка</li>
            </ul>
        </div>
    </div>
</div>
