<div class="modal-content">
    <button class="modal-close"><i class="icon-close-arrow"></i></button>
    <div class="modal-loader"></div>
    <div class="row">
        <div class="column lg-8">
            <div class="portfolio-row">
                <div class="portfolio-column left-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/evakuator/img-3.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/evakuator/img-3.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/evakuator/img-4.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/evakuator/img-4.jpg') }}"/>
                        </a>
                    </div>
                </div>
                <div class="portfolio-column right-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/evakuator/img-1.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/evakuator/img-1.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/evakuator/img-2.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/evakuator/img-2.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/evakuator/img-3.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/evakuator/img-3.jpg') }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column lg-4">
            <h3 class="mt-40 mt-lg-0">О проекте</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus adipisci, aliquam asperiores
                beatae cum cupiditate, dolore error et explicabo fuga fugit itaque iusto magnam magni nemo neque
                nihil nobis non odit, praesentium quae quas qui quos repellat sequi sit suscipit ut vel veritatis
                vitae voluptatem voluptates voluptatibus voluptatum. Dignissimos, nobis!</p>
            <h3 class="mt-40">Технологии</h3>
            <ul class="tag-list">
                <li class="tag primary">#ECMAScript 6</li>
                <li class="tag primary">#jQuery</li>
                <li class="tag primary">#TypeScript</li>
                <li class="tag primary">#Less</li>
                <li class="tag primary">#Sass</li>
                <li class="tag primary">#Stylus</li>
            </ul>
        </div>
    </div>
</div>
