<div class="modal-content">
    <button class="modal-close"><i class="icon-close-arrow"></i></button>
    <div class="row">
        <div class="column lg-8">
            <div class="portfolio-row">
                <div class="portfolio-column left-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/prava70/img-4.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/prava70/img-4.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/prava70/img-5.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/prava70/img-5.jpg') }}"/>
                        </a>
                    </div>
                </div>
                <div class="portfolio-column right-column">
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/prava70/img-1.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/prava70/img-1.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/prava70/img-2.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/prava70/img-2.jpg') }}"/>
                        </a>
                    </div>
                    <div class="portfolio-item">
                        <a href="{{ asset('public/img/portfolio/prava70/img-3.jpg') }}" class="portfolio-modal-img" data-fancybox="gallery">
                            <img class="horizontal-img" src="{{ asset('public/img/portfolio/prava70/img-3.jpg') }}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column lg-4">
            <h3 class="mt-40 mt-lg-0">О проекте</h3>
            <p class="font-15">В данном проекте необходимо было произвести редизайн уже существующего сайта для автошколы «Права 70»,
                структурировать информацию на нем и разработать решение билетов онлайн для различных категорий вождения.</p>
            <p class="font-15">Существующий сайт был реализован на CMS WordPress. Так как заказчик уже привык ее испльзовать, была
                создана новая тема для WordPress, с сохранением всех предыдущих настроек на сайте. Специально для нового
                дизайна заказчик предоставил большое количество реальных фотографий, что сделало сайт очень
                интерактивным и ярким. Сайт адаптирован под мобильные устройства и правильно отображается во всех
                популярных браузерах.</p>
            <p class="font-15">Для решения билетов на сайте было разработано универсальное решение, с помощью которого заказчик
                самостояельно может выкладывать на своем сайте решение билетов на любые темы.</p>
            <h3 class="mt-40">Технологии</h3>
            <ul class="tag-list">
                <li class="tag primary">#Html</li>
                <li class="tag primary">#Javascript</li>
                <li class="tag primary">#jQuery</li>
                <li class="tag primary">#Less</li>
                <li class="tag primary">#Php</li>
                <li class="tag primary">#WordPress</li>
                <li class="tag primary">#Bootstrap</li>
                <li class="tag primary">#Адаптивная верстка</li>
                <li class="tag primary">#Кроссбраузерная верстка</li>
            </ul>
            <h3 class="mt-40">Ссылка</h3>
            <a href="http://prava.tomsk.ru" class="link font-20" target="_blank"><i class="globe-icon"></i>prava.tomsk.ru</a>
        </div>
    </div>
</div>
